:root{
    --cor-fundo: #1F232C;
    --cor-texto: #fff;
    --cor-destaque: #EFC501;
}

@font-face {
    font-family: Inter;
    src: url(fonte/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}
header{
    margin: 20px 40px;
    font-weight: bold;
    text-transform: uppercase;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .esquerda{
    display: flex;
    align-items: center;
    color: var(--cor-destaque);
}
header nav .esquerda img{
    padding-right: 10px;
}
header nav .direita{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding-right: 20px;
}
header nav ul li a{
    color: var(--cor-texto);
}
nav #botao_nav{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
}

main{
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
}
main .esquerda{
    height: 80vh;
    width: 40vw;
}
main .esquerda h2{
    color: var(--cor-destaque);
    text-transform: uppercase;
}
main .esquerda h3{
    display: flex;
    flex-direction: column;
    font-size: 84px;
    padding-bottom: 10px;
    padding-top: 10px;
}
main .esquerda h3 span{
    font-size: 51px;
}

main .direita{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -11111;
}